<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/userp/css/style.css">
</head>
<body>
    <div class="container-fluid pt-5">
        <h1  class="text-center fw-bolder mt-5 pt-5 ">Login</h1>
        <div class="row" style="margin: 0;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" style="margin: 0;">
                            <div class="col-lg-12 d-flex justify-content-center pt-3">
                                <input type="text" class="username p-1" id="usnm1" placeholder="username">
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center pt-3">
                                <input type="password" class="password p-1" id="pswd1" placeholder="password">
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center mt-3">
                                <input type="submit" class="btn btn-primary text-center pt-2 px-4" 
                                value="Sign up" onclick="login()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class=" text-center text-white" id="usnm2"></p>
    <p class=" text-center text-white" id="pswd2"></p>
    <script>
        function login() {
            var a = document.getElementById("usnm1").value;
            var b = document.getElementById("pswd1").value;
            const urlParams = new URLSearchParams (window.location.search);
            var z= document.getElementById("usnm2").textContent=urlParams.get("username");
            var x= document.getElementById("pswd2").textContent=urlParams.get("password");
            const values ={
                username: z,
                password: x,
            }
            if ( a == z && b == x ) {
                alert("Correct")
                const queryParams = new URLSearchParams(values).toString();
                window.location.href="/home?"+queryParams;
            } else {
                alert("Incorrect")
            }
            if ( a < "0" && b < "0" ){
                alert( " please enter correct username and password " )
            }
        }
    </script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>